:root {
  --md-sys-shape-corner-small: 4px;
  --md-sys-shape-corner-medium: 6px;
  --md-sys-shape-corner-large: 8px;

}

body { 
    font-family: Arial, sans-serif; 
    text-align: center;
    margin: 0;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.topbar {
  background-color:  rgba(81, 134, 127, 0.11);
  position: sticky;
  top: 0;
  width: 100vw;
  left: 0;
  padding: 11px 0;
  font-family: "Ubuntu", sans-serif;
}

.listview {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 63vh;
  background-color: white;
  border-radius: 30px;
  padding: 0;
  box-shadow: 0 0 5px  black;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.listscroll {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
}
.listscroll::-webkit-scrollbar {
  border-radius: 10px;
  background-color:rgb(209, 239, 243);
  width: 10px;
}
.listscroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #749c96;
}

.task { 
  display: flex; 
  justify-content: space-between; 
  padding: 0; 
  align-items: center;
  border-radius: 100px;
  font-size: 120%;
}
md-item {
  border-radius: 1000px !important;
}
#taskList {
  width: 100%;
}
.completed { 
  text-decoration: line-through; 
  color: gray; 
}
.inputarea {
  position: fixed;
  bottom: 0;
  background-color: #fafafa;
  left: 50%;
  translate: -50% 0;
  width: 100vw;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputbox {
  padding: 0px;
  height: 61px;
  width: 70vw;
  min-width: 330px;
  display: flex;
  background-color: rgb(167 222 210);
  justify-content: center;
  align-items: center;
  border-radius: 100000px;
  box-shadow: 0 3px 3px #808080b3;
}
.input {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  border-radius: 1000px;
  transition: box-shadow 0.3s;
}
.input:focus-within {
  box-shadow: 0 0 4px black;
}
.input input {
    border: 0;
    padding: 15px 20px;
    outline: 0;
    transition: border 0.4s;
}

.input input:focus-visible ~ .input {
  box-shadow: 0 0 5px black;
}

#addbtn {
  margin-right: 5px;
  /* transition: background-color 0.2s;
  border-radius: 1000px; */
  /*
  background-color: transparent;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(101, 129, 125, 0);
  border: none;
  height: 100%; */
}


md-icon-button::part(container):hover {
  background-color: darkpurple;
}